  
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" rel="stylesheet">
<link rel="stylesheet" href="styles/style.css">
</head>
 <body>
<header>
</header>
<div class = "title">
    <h1>this is a project</h1>
    </div>
<div class = "container">
 
<div id ="inputs">

<div id ="my-trip-to">
    <label for="destination-input">my trip to:</label>
    <input type="text" id="trip-input" placeholder="enter city">
    <!-- <button id="button-trip" type = "submit"> Vamos! </button> -->
  </div>

  <div id ="departure-date-input">
    <label for="enter departure date">departure date:</label>
    <input type= "date" id="date-input" placeholder="enter date"></input>
    <button id="vamos-button" type = "submit"> Vamos ! </button>
  </div>

</div>

  <div id= "responses">
    <h2>my trip to:</h2>
    <div id = "destination-output"> the destination will display here</div>

    <h2> departing:</h2>
    <div id = "departure-date-output"> the departure date will display here</div>

 <!--  
  <div id ="flight-Info">
   <h2> flight details </h2>
    <div id = "departure time">the time will go here</div> 
   <div id = "flight">the flight number will go here</div>
   <div id = "airline">the airline number will go here</div>

</div> -->

   <div id ="Weather-Info">
    <h2> weather details </h2>
     <div id = "high"> temp hight will go here </div> 
    <div id = "low">temp low will go here</div>
    <div id = "description">weather desctiption will go here</div>

  </div>

  <div id = "image">
      <h2> maybe an image goes here?</h2>
  </div>
  </div>
  </div>
  <footer>
    <p>this is a footer 👩🏻‍💻</p>
    <div class="border"></div>
</footer>
<script src="/src/client/views/index.html" type="text/javascript"></script>


</body>
</html>